$color1: rgb(245, 236, 184) 0%;
$color2: rgb(165, 197, 238) 19%;
$color3: rgb(245, 188, 242) 37%;
$color4: rgb(230, 171, 241) 58%;
$color5: rgb(230, 171, 241) 58%;
$color6: rgb(247, 234, 248) 100%;
